.course-list{

  display:flex;

  align-items:center;

  gap:15px;

  padding:12px;

  border:1px solid #eee;

  border-radius:12px;

  background:#fff;

}

.course-list img{
  width:120px;
  height:70px;
  border-radius:8px;
  object-fit:cover;
}

.list-info{
  flex:1;
}

.list-date{
  font-size:11px;
  color:#aaa;
}