*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: "Inter", sans-serif;
  background: linear-gradient(113.36deg, #FCEEFE 2.94%, #FFFFFF 46.93%, #EBF9FC 98.26%);
  color: var(--color-text);
  min-height: 100vh;
}

/* layout container */
.container{
  max-width:1200px;
  margin:auto;
  padding:20px 30px;
}

/* common card */
.card{
  background:var(--bg-card);
  border-radius:var(--radius-card);
  box-shadow:var(--shadow-soft);
}

/* badges */
.badge{
  font-size:var(--font-sm);
  padding:4px 10px;
  border-radius:var(--radius-badge);
}