.sidebar {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  padding-bottom: 170px;
}


.back-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

.back-btn {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 999px;
  padding: 6px 16px;
  font-size: 13px;
  cursor: pointer;
  color: #444;

  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}


.menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
}


.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px 14px;
  border-radius: 10px;

  font-size: 14px;
  color: #5f6b7a;
  cursor: pointer;
}


.menu-item.active {
  background: #e6efff;
  color: #0068a8;
  font-weight: 500;
}


.icon {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img,
.icon svg {
  width: 18px;
  height: 18px;
}

.icon.small img {
  width: 14px;
  height: 14px;
  transform: scale(1.2);
}

.arrow {
  margin-left: auto;
  font-size: 12px;
  transition: transform 0.2s ease;
}

.arrow.open {
  transform: rotate(180deg);
}


.submenu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 4px;
}


.submenu-item {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 8px 12px 8px 12px;

  margin-left: 8px;

  font-size: 13px;
  color: #6B7280;
  cursor: pointer;
}


.menu-item:hover,
.submenu-item:hover {
  color: #155DFC;
}